In [1]:
import pandas as pd
import numpy as np

In [ ]:
data = {
   '영화' : ['명량', '극한직업', '신과함께-죄와 벌', '국제시장', '괴물', '도둑들', '7번방의 선물', '암살'],
   '개봉 연도' : [2014, 2019, 2017, 2014, 2006, 2012, 2013, 2015],
   '관객 수' : [1761, 1626, 1441, 1426, 1301, 1298, 1281, 1270], # (단위 : 만 명)
   '평점' : [8.88, 9.20, 8.73, 9.16, 8.62, 7.64, 8.83, 9.10]
}
df = pd.DataFrame(data)

In [9]:
## 추천점수 컬럼 : (관객수 * 평점) // 100
# 추천 점수 컬럼을 추가하시오.

df['추천점수'] = (df['관객 수'] * df['평점']) // 100

숫자 = 숫자 + 숫자<br>
문자 = 문자 + 문자

In [10]:
df['추천점수'] = df['추천점수'].astype(str) +"점"
df

          영화  개봉 연도  관객 수    평점    추천점수
0         명량   2014  1761  8.88  156.0점
1       극한직업   2019  1626  9.20  149.0점
2  신과함께-죄와 벌   2017  1441  8.73  125.0점
3       국제시장   2014  1426  9.16  130.0점
4         괴물   2006  1301  8.62  112.0점
5        도둑들   2012  1298  7.64   99.0점
6    7번방의 선물   2013  1281  8.83  113.0점
7         암살   2015  1270  9.10  115.0점

In [7]:
df['관객 수']
df['평점']

0    8.88
1    9.20
2    8.73
3    9.16
4    8.62
5    7.64
6    8.83
7    9.10
Name: 평점, dtype: float64