In [14]:
import pandas as pd
import numpy as np
df = pd.read_excel("data/score.xlsx",index_col="지원번호")

데이터 수정

In [2]:
### 1. 특정데이터 찾아서 변경 : replace
# df['학교'].replace({"디지털고":"소프트고"},inplace=True)

## 2개를 변경 - inplace 반영됨
# df['학교'].replace({'가산고':'금천고','디지털고':'단지고'})

### 2. 모든문자 소문자로 변경
# df['SW특기'] = df['SW특기'].str.lower()

### 모든문자 대문자로 변경
# df['SW특기'] = df['SW특기'].str.upper()

## 첫글자 대문자, 나머지 소문자로 변경
# df['SW특기'] = df['SW특기'].str.capitalize()

### 3. 특정문자에 문자를 추가하는 방법
## 학교 -> 가산고등학교, 디지털고등학교
# df['학교'] = df['학교'] + '등학교'

데이터 추가

In [15]:
df['합계'] = df['국어']+df['영어']+df['수학']+df['과학']+df['사회']
df['평균'] = df['합계'] / 5
df['결과'] = '불합격'

In [19]:
### 컬럼 추가
# 없는 컬럼을 입력하면 컬럼이 추가 됨.
# df['합계'] = df['국어']+df['영어']+df['수학']+df['과학']+df['사회']

## 평균을 추가하시오.
# df['평균'] = df['합계'] / 5

## 결과 컬럼을 추가하고 내용은 불합격 입력하시오.
# df['결과'] = '불합격'

## 평균컬럼이 60점 이상인 학생만 출력하시오.
# filt = df['평균']>=60
# df[filt]

### 데이터 조건 수정부분
## 평균이 60점 이상이면 결과컬럼에 합격이라고 입력하시오.
# filt = df['평균']>=60
# # df[filt]['결과']  # 조건 검색이 안됨.
# df.loc[filt,'결과'] = "합격"
# df

In [ ]:
df = pd.read_csv('data/stuscore.csv',index_col='번호')

In [40]:
### 합계,평균을 추가하시오.
# df['합계'] = df['국어']+df['영어']+df['수학']
# df['평균'] = df['합계']/3

### 결과 컬럼을 추가하고 평균이 60점 이상이면 합격, 그 외 불합격 처리하시오.
# df['결과'] = '불합격'
# df.loc[df['평균']>=80,'결과'] = '합격'
# df
# df['평균']>=80

데이터 삭제 - 컬럼삭제 drop(columns)

In [47]:
### 컬럼 삭제 : drop, inplace 반영됨.
# df.drop(columns=['결과'],inplace=True)
# 컬럼 2개 삭제
# df.drop(columns=['합계','평균'],inplace=True)

데이터 삭제 - row 행 삭제(index)

In [70]:
df = pd.read_excel('data/score.xlsx',index_col='지원번호')

In [ ]:
# row삭제 - index행 삭제,  inplace 반영됨.
# df.drop(index='2번',inplace=True)

### 수학 80점 미만 학생을 검색하시오.
# df[df['수학']<80]

# df.drop(index=['2번','3번','5번'])
# df.index[[2,5,6]]

### index를 가지고 데이터 삭제 
# df.drop(index=df.index[[2,5,6]],inplace=True)


### 조건을 사용해서 데이터 삭제
# 80점 미만 검색
# df[df['수학']<80].index

### 80점 미만인 학생 삭제
df.drop(index=df[df['수학']<80].index,inplace=True)
df

       이름    학교    키   국어   영어   수학  과학  사회    SW특기
지원번호
1번    홍길동   가산고  197   90   85  100  95  85  Python
6번    김유신  디지털고  202   80  100   95  85  80       C
8번    홍길순  디지털고  190  100   85   90  95  95      C#