In [7]:
import pandas as pd

df = pd.read_csv('file/stock.csv',index_col='N')
df.index.name = "번호"

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 250 entries, 1 to 250
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   종목명     250 non-null    object
 1   현재가     250 non-null    object
 2   전일비     250 non-null    object
 3   등락률     250 non-null    object
 4   액면가     250 non-null    object
 5   시가총액    250 non-null    object
 6   상장주식수   250 non-null    object
 7   외국인비율   250 non-null    float64
 8   거래량     250 non-null    object
 9   PER     207 non-null    object
 10  ROE     202 non-null    float64
dtypes: float64(2), object(9)
memory usage: 23.4+ KB

In [10]:
df.describe()

           외국인비율         ROE
count  250.00000  202.000000
mean    18.42600    8.374010
std     16.25217   13.127001
min      0.00000  -53.210000
25%      6.52000    3.025000
50%     14.14500    8.085000
75%     28.26250   13.147500
max     75.18000   58.010000

In [11]:
df.columns

Index(['종목명', '현재가', '전일비', '등락률', '액면가', '시가총액', '상장주식수', '외국인비율', '거래량',
       'PER', 'ROE'],
      dtype='object')

In [22]:
# '종목명', '현재가','등락률','시가총액' 출력하시오.
# 10:20까지 출력하시오.
df[['종목명', '현재가','등락률','시가총액']][10:20]  

## columns 3:5까지 출력하시오. df.columns
df[df.columns[3:6]][3:20]  # column기준으로 row출력

# rows 3:30까지 출력하시오.
# df[3:5]

### 종목명을 가지고 역순정렬 상위 10개까지 출력하시오.
df.index 
# df.reset_index(inplace=True)

RangeIndex(start=0, stop=250, step=1)

In [34]:
# index 삭제후 종목명을 index지정

# index삭제
# df.reset_index(inplace=True)  

# index 지정
# df.set_index("종목명",inplace=True)

# 정렬
# df.sort_index(inplace=True) # 순차정렬
# df.sort_index(ascending=False,inplace=True) # 역순정렬
df.head(10)
df[df.columns[[1,3,-1]]][:5]  # columns출력 1,3,-1(끝번)

           현재가     등락률    ROE
종목명
효성티앤씨  236,500  -0.21%   9.84
효성중공업  532,000  +2.70%  14.90
호텔신라    44,050  +1.38%  -6.50
현대해상    22,000  +2.09%  15.75
현대차우   152,600  +1.46%    NaN

In [ ]:
#### df - column 정보 출력, df.iloc, df.loc - row정보를 출력
df['현재가']
df[:][:5]
df.iloc[:3]

,번호,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE
종목명,,,,,,,,,,,
효성티앤씨,245,"236,500",하락500,-0.21%,"5,000","10,235","4,328",17.85,"2,453",7.61,9.84
효성중공업,83,"532,000","상승14,000",+2.70%,"5,000","49,607","9,325",15.84,"30,049",22.28,14.90
호텔신라,177,"44,050",상승600,+1.38%,"5,000","17,289","39,248",14.99,"59,944",-28.64,-6.50

In [ ]:
# df.info()  # 현재가 타입 - object
df['현재가'][:3]  # 타입을 변경하려고 함.

## 숫자타입 변경시 
# 1. 천단위 표시 제거를 해야 함.
# 2. str.replace(",","")
# 3. 타입 변경(astype(int))
df['현재가'] = df['현재가'].str.replace(",","").astype(int)
df['현재가']  # object

df.info()

### 최대값,최소값, 상위5개 출력, 하위 5개 출력, 평균

<class 'pandas.core.frame.DataFrame'>
Index: 250 entries, 효성티앤씨 to ACE KRX금현물
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   번호      250 non-null    int64
 1   현재가     250 non-null    int64
 2   전일비     250 non-null    object
 3   등락률     250 non-null    object
 4   액면가     250 non-null    object
 5   시가총액    250 non-null    object
 6   상장주식수   250 non-null    object
 7   외국인비율   250 non-null    float64
 8   거래량     250 non-null    object
 9   PER     207 non-null    object
 10  ROE     202 non-null    float64
dtypes: float64(2), int64(2), object(7)
memory usage: 31.5+ KB