In [5]:
import pandas as pd

data = {
    '영화' : ['명량', '극한직업', '신과함께-죄와 벌', '국제시장', '괴물', '도둑들', '7번방의 선물', '암살'],
    '개봉 연도' : [2014, 2019, 2017, 2014, 2006, 2012, 2013, 2015],
    '관객 수' : [1761, 1626, 1441, 1426, 1301, 1298, 1281, 1270], # (단위 : 만 명)
    '평점' : [8.88, 9.20, 8.73, 9.16, 8.62, 7.64, 8.83, 9.10]
}

### DataFrame 변경
df = pd.DataFrame(data)

In [7]:
df.set_index('영화',inplace=True)

In [11]:
# df.sort_index() # 순차정렬
df.sort_index(ascending=False,inplace=True)

In [13]:
df.describe()

            개봉 연도         관객 수        평점
count     8.00000     8.000000  8.000000
mean   2013.75000  1425.500000  8.770000
std       3.84522   181.193661  0.501797
min    2006.00000  1270.000000  7.640000
25%    2012.75000  1293.750000  8.702500
50%    2014.00000  1363.500000  8.855000
75%    2015.50000  1487.250000  9.115000
max    2019.00000  1761.000000  9.200000

In [14]:
df['평점'].mean()

np.float64(8.77)

In [16]:
df['관객 수'].max()
df['관객 수'].mean()
df['관객 수'].min()

np.int64(1270)

In [17]:
df['관객 수'].nlargest()

영화
명량           1761
극한직업         1626
신과함께-죄와 벌    1441
국제시장         1426
괴물           1301
Name: 관객 수, dtype: int64

In [ ]:
#### index 영화로 지정해서, 역순정렬
### 1.평점에 대한 평균, 2.최대 관객수, 3.최소 관객수를 구하시오.