In [41]:
import pandas as pd

## 파일 불러오기
df = pd.read_excel('data/F000801_20250519143506604_excel.xlsx',skiprows=2,
                   usecols="B:L",nrows=1)
# df = pd.read_excel('data/F000801_20250519143506604_excel.xlsx',skiprows=2,
#                    usecols="B:L",nrows=1,index_col='Unnamed: 1')

# 'Unnamed: 1' -> '전체' 컬럼명 변경
# index 전체

c:\python3\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [42]:
df.set_index("Unnamed: 1",inplace=True)   # 컬럼을 index로 지정
df.index = ['총합']
df.index.name = "전체"
df

,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
전체,,,,,,,,,,
총합,"438,420","406,243","357,771","326,822","302,676","272,337","260,562","249,186","230,028","230,028"

In [44]:
df.loc['총합'] = df.loc['총합'].str.replace(",","").astype(int)
df

,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
전체,,,,,,,,,,
총합,438420,406243,357771,326822,302676,272337,260562,249186,230028,230028

In [ ]:
df = df.T  # 축변경

In [48]:
df.describe()

전체          총합
count       10
unique       9
top     230028
freq         2

In [51]:
df = df.astype(int)

df = df.T
df

In [54]:
df.describe()

전체                총합
count      10.000000
mean   307407.300000
std     73528.438334
min    230028.000000
25%    252030.000000
50%    287506.500000
75%    350033.750000
max    438420.000000

총합 : 평균, 최대값, 최소값

In [45]:
df.describe()

,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
count,1,1,1,1,1,1,1,1,1,1
unique,1,1,1,1,1,1,1,1,1,1
top,438420,406243,357771,326822,302676,272337,260562,249186,230028,230028
freq,1,1,1,1,1,1,1,1,1,1